TLSRPT reports. Your json is missing the key .policies[].policy.policy-domain

I have received the following feedback on one of my automated reports generated by libtlsrpt and tlsrpt-reporter:
...
thanks for sending TLSRPT reports. Your json is missing the key .policies[].policy.policy-domain . As far as I read https://datatracker.ietf.org/doc/html/rfc8460#section-4.4 , "policy-domain" must be included. However, I have adopted my analyzing script to tolerate that it is missing: https://datatracker.ietf.org/doc/html/rfc8460#section-4.4

Best regards and please continue sending TLSRPT reports,
...
<redacted>P. C. [<<redacted>@mpi-klsb.mpg.de>]

Which MTA are you using?
This looks like an issue of the MTA not communicating any policy-domain to tlsrpt-reporter.

Libtlsrpt passes through the data, an empty string as `policydomainname` parameter of the `tlsrpt_init_policy` function would result in an empty string as the policy-domain in the report.
However, if given a NULL pointer, libtlsrpt does not send the policy-domain field and tlsrpt-reporter does not put that field into the report at all.



Postfix. 3.11-20250920 snapshot.
libtlsrpt  ## [0.5.0] - 2025-02-22 - first public release
tlsrpt-reporter ## [0.5.0] - 2025-02-22 - first public release

in main.cf mit grep tls main.cf:
smtp_tlsrpt_enable = yes
smtp_tlsrpt_socket_name = /var/spool/postfix/run/tlsrpt/tlsrpt.socket
smtp_tlsrpt_skip_reused_handshakes = no



Patrick ist auch der einzige, der einen Formatfehler anmahnt. Ich bin mir nicht sicher, wie ich das prüfen kann (also ob sein Claim legitim ist)...

Is that information from a 'dane' policy or from an sts plugin?

With 'dane' Postfix will send state->tls->dane->base_domain which is populated by Postfix's libtls.

With 'sts' it is up to a plugin to supply that information (link: https://www.postfix.org/TLSRPT_README.html#mta-sts). If that information is not available, the domain in the sys4 libtlsrpt call tlsrpt_init_delivery_request() will be a null pointer.


The STS plugin is the MTA-STS plugin "postfix-tlspol" from Ömer.

I have not found a dane reference in the logfiles in conjunction with mpg.de.

```
root@sonne:/var/log/mail# grep dane mta-sts-daemon.log  | grep -i mpg
nothing.

root@sonne:/var/log/mail# grep mpg mta-sts-daemon.log                                                                                                                          
Mar 18 01:17:30 sonne postfix-tlspol[2489749]: INFO  No policy found for "mpp.mpg.de" (cached for 10m0s)
```
The only mentionings of mpg.de in my mail.log are
```
Sep 19 05:32:12 sonne postfix/cleanup[4190585]: 8A4FE16E0070: message-id=<fb884d2a-6c18-4758-b7e8-9e90f7b81738@mpi-klsb.mpg.de>
Sep 19 05:32:12 sonne rspamd[3225601]: <b78a0c>; dkim; rspamd_dkim_check: dkim: bh value mismatch: got yi1E0JytDuG1AcZZogoNkePKdcYY6OfI5TyXZkYdyag=, expected WVrYXj3vKti6wY7RFpJ0gasoKvLvKX5BDai7Q+OOWcA=; body length 9275->0; d=mpi-klsb.mpg.de; s=mail202309
Sep 20 01:17:09 sonne postfix/smtp[1981515]: Trusted TLS connection established to u04mx01.mpi-klsb.mpg.de[139.19.205.194]:25: TLSv1.3 with cipher TLS_AES_256_GCM_SHA384 (256/256 bits) key-exchange x25519 server-signature RSA-PSS (4096 bits) server-digest SHA256
Sep 20 01:17:09 sonne postfix/smtp[1981515]: TLSRPT: status=success, domain=mpi-klsb.mpg.de, receiving_mx=u04mx01.mpi-klsb.mpg.de[139.19.205.194]
Sep 20 01:17:12 sonne postfix/smtp[1981515]: 38AE116E15C3: to=<dmarc-report@mpi-klsb.mpg.de>, relay=u04mx01.mpi-klsb.mpg.de[139.19.205.194]:25, delay=3.7, delays=0.08/0.05/0.6/3, dsn=2.0.0, status=sent (250 OK id=1uzkLm-0000000Ha9C-0aTj)
Sep 20 01:52:17 sonne postfix/postscreen[2005026]: NOQUEUE: reject: RCPT from [134.107.64.11]:45896: 450 4.3.2 Service currently unavailable; from=<mdk@mpp.mpg.de>, to=<c.langanke@teamos2.de>, proto=ESMTP, helo=<smtp2.mpp.mpg.de>
Sep 20 02:00:43 sonne postfix/smtpd[2026949]: connect from smtp.mppmu.mpg.de[134.107.64.11]
Sep 20 02:00:43 sonne postfix/smtpd[2026949]: Anonymous TLS connection established from smtp.mppmu.mpg.de[134.107.64.11]: TLSv1.3 with cipher TLS_AES_256_GCM_SHA384 (256/256 bits) key-exchange x25519
Sep 20 02:00:45 sonne postfix/smtpd[2026949]: NOQUEUE: reject: RCPT from smtp.mppmu.mpg.de[134.107.64.11]: 550 5.1.1 <c.langanke@teamos2.de>: Recipient address rejected: User unknown; from=<mdk@mpp.mpg.de> to=<c.langanke@teamos2.de> proto=ESMTP helo=<smtp2.mpp.mpg.de>
Sep 20 02:00:45 sonne postfix/smtpd[2026949]: disconnect from smtp.mppmu.mpg.de[134.107.64.11] ehlo=2 starttls=1 mail=1 rcpt=0/1 data=0/1 rset=1 quit=1 commands=6/8
Sep 20 02:04:17 sonne postfix/smtp[2032188]: Trusted TLS connection established to u04mx01.mpi-klsb.mpg.de[139.19.205.194]:25: TLSv1.3 with cipher TLS_AES_256_GCM_SHA384 (256/256 bits) key-exchange x25519 server-signature RSA-PSS (4096 bits) server-digest SHA256
Sep 20 02:04:20 sonne postfix/smtp[2032188]: 757FE16E1092: to=<smtp-tls-report@mpi-klsb.mpg.de>, relay=u04mx01.mpi-klsb.mpg.de[139.19.205.194]:25, delay=3.3, delays=0.43/0.01/0.25/2.6, dsn=2.0.0, status=sent (250 OK id=1uzl5N-000000005yW-3hCj)
Sep 20 09:44:41 sonne postfix/postscreen[2685827]: NOQUEUE: reject: RCPT from [139.19.86.15]:34570: 450 4.3.2 Service currently unavailable; from=<pcernko+eef14c799d9fd9f10a6f9da9e4cc04992f22ff41@mpi-klsb.mpg.de>, to=<smtp-tls-reporting@sonne.floppy.org>, proto=ESMTP, helo=<jupiter.mpi-klsb.mpg.de>
Sep 20 09:52:54 sonne postfix/smtpd[2694091]: connect from jupiter.mpi-klsb.mpg.de[139.19.86.15]
Sep 20 09:52:54 sonne postfix/smtpd[2694091]: Anonymous TLS connection established from jupiter.mpi-klsb.mpg.de[139.19.86.15]: TLSv1.3 with cipher TLS_AES_256_GCM_SHA384 (256/256 bits) key-exchange secp256r1 server-signature RSA-PSS (4096 bits) server-digest SHA256
Sep 20 09:52:55 sonne postfix/smtpd[2694091]: 637B816E01D2: client=jupiter.mpi-klsb.mpg.de[139.19.86.15]
Sep 20 09:52:55 sonne postfix/cleanup[2692388]: 637B816E01D2: message-id=<ffb6ffa0-f44f-4ae1-afdc-559b3188a462@mpi-klsb.mpg.de>
Sep 20 09:52:57 sonne postfix/qmgr[2103367]: 637B816E01D2: from=<pcernko+eef14c799d9fd9f10a6f9da9e4cc04992f22ff41@mpi-klsb.mpg.de>, size=10775, nrcpt=2 (queue active)
Sep 20 09:52:57 sonne postfix/smtpd[2694091]: disconnect from jupiter.mpi-klsb.mpg.de[139.19.86.15] ehlo=2 starttls=1 mail=1 rcpt=1 data=1 quit=1 commands=7
Sep 21 01:17:05 sonne postfix/smtp[4083458]: Trusted TLS connection established to u04mx01.mpi-klsb.mpg.de[139.19.205.194]:25: TLSv1.3 with cipher TLS_AES_256_GCM_SHA384 (256/256 bits) key-exchange x25519 server-signature RSA-PSS (4096 bits) server-digest SHA256
Sep 21 01:17:05 sonne postfix/smtp[4083458]: TLSRPT: status=success, domain=mpi-klsb.mpg.de, receiving_mx=u04mx01.mpi-klsb.mpg.de[139.19.205.194]
Sep 21 01:17:08 sonne postfix/smtp[4083458]: F0FFC16E1310: to=<dmarc-report@mpi-klsb.mpg.de>, relay=u04mx01.mpi-klsb.mpg.de[139.19.205.194]:25, delay=3.6, delays=0.11/0.02/0.49/2.9, dsn=2.0.0, status=sent (250 OK id=1v06pF-00000003acn-2n9z)
Sep 21 02:14:41 sonne postfix/smtp[4144803]: Trusted TLS connection established to u04mx01.mpi-klsb.mpg.de[139.19.205.194]:25: TLSv1.3 with cipher TLS_AES_256_GCM_SHA384 (256/256 bits) key-exchange x25519 server-signature RSA-PSS (4096 bits) server-digest SHA256
Sep 21 02:14:43 sonne postfix/smtp[4144803]: B94ED16E06FC: to=<smtp-tls-report@mpi-klsb.mpg.de>, relay=u04mx01.mpi-klsb.mpg.de[139.19.205.194]:25, delay=3, delays=0.21/0.01/0.31/2.5, dsn=2.0.0, status=sent (250 OK id=1v07iz-00000003jKy-0hMk)
```

So from what Wietse wrote, I understand that the issue might be/is with the postfix-tlspol plugin. Is my understanding correct?



> So from what Wietse wrote, I understand that the issue might be/is with the postfix-tlspol plugin. Is my understanding correct?

I think so, yes.

> Sep 20 01:17:09 sonne postfix/smtp[1981515]: TLSRPT: status=success, domain=mpi-klsb.mpg.de, receiving_mx=u04mx01.mpi-klsb.mpg.de[139.19.205.194]
> Sep 21 01:17:05 sonne postfix/smtp[4083458]: TLSRPT: status=success, domain=mpi-klsb.mpg.de, receiving_mx=u04mx01.mpi-klsb.mpg.de[139.19.205.194]
 
That is NOT the domain that Postfix receives from the sts plugin.
It is the value of trw->rpt_policy_domain which is also passed
passes in the tlsrpt_init_delivery_request() call:
 
    msg_info("TLSRPT: status=failure, domain=%s, receiving_mx=%s[%s],"
             " failure_type=%s%s%s",
             trw->rpt_policy_domain, trw->rcv_mta_name, trw->rcv_mta_addr,
             ...
 
    if ((res = tlsrpt_open(&con, trw->rpt_socket_name)) == 0) {
        struct tlsrpt_dr_t *dr;
        char  **cpp;
 
        if ((res = tlsrpt_init_delivery_request(&dr, con,
                                                trw->rpt_policy_domain,
                                            trw->rpt_policy_string)) == 0) {
            if ((res = tlsrpt_init_policy(dr, trw->tls_policy_type,
                                          trw->tls_policy_domain)) == 0) {
                if (trw->tls_policy_strings)
                        ...
                if (trw->mx_host_patterns)
                        ...
                ...and so on...


So.. which policy domain is the problem: The TLSRPT policy domain or the (dane or sts) policy domain? 

To answer my question, the domain logged with "TLSRTPT: status" is the  domain of the TLSRPT policy,  NOT the domain of the TLS policy (dane or sts) that the the plugin is supposed to pass in as the policy domain.

> So.. which policy domain is the problem: The TLSRPT policy domain or the (dane or sts) policy domain?

Hi Wietse,

the report I got from @florianpiekert was missing the `.policies[].policy.policy-domain` field (_The Policy Domain against which the MTA-STS or DANE policy is defined_). Section 4.4 of RFC8460 does not state if that field must be present, but I have read it like this as it made sense to me. At least all reports I got in the past 2 years (well mostly from Google and MS) include the field.

Here is a recent TLSRPT from @florianpiekert to my MX:

```
# zcat 'sonne.floppy.org!zuplu.com!1758499200!1758585599!1.json.gz' | jq
{
  "organization-name": "sonne.floppy.org",
  "date-range": {
    "start-datetime": "2025-09-22T00:00:00Z",
    "end-datetime": "2025-09-22T23:59:59Z"
  },
  "contact-info": "smtp-tls-reporting@sonne.floppy.org",
  "policies": [
    {
      "summary": {
        "total-failure-session-count": 0,
        "total-successful-session-count": 1
      },
      "policy": {
        "policy-type": "tlsa",
        "policy-domain": "mx1.zuplu.com",
        "policy-string": [
          "3 1 1 60103C0A1CC74338339FC3E5D789B2E7B8E70F6AE83AE9DF24B666D166304242",
          "3 1 1 B7C71FB050EB20AC1440D7229B6004B3C389FFFFD61554FCA18B8F1F3B6ABE43"
        ]
      },
      "failure-details": []
    }
  ],
  "report-id": "2025-09-22T00:00:00Z_idx1_zuplu.com"
} 
```

Seems OK to me.

Can you post the report in question so we can check what is wrong? It‘s just speculating without any real data…


Edit: To clarify
@florianpiekert @BLohner `postfix-tlspol` only sends `policy-domain` for the STS policy, in case of DANE or no policy, postfix itself handles the domain name for TLSRPT.

@wietse-postfix Please have a look at this report from Microsoft, which fortunately contains both MTA-STS and DANE policies.

They do pass the original mail domain instead of the MX host for the `policy-type` `tlsa`, in line with the `sts` type.

```
# zcat 'microsoft.com!zuplu.com!1750291200!1750377599!133949211637524954.json.gz' | jq
{
  "organization-name": "Microsoft Corporation",
  "date-range": {
    "start-datetime": "2025-06-19T00:00:00Z",
    "end-datetime": "2025-06-19T23:59:59Z"
  },
  "contact-info": "tlsrpt-noreply@microsoft.com",
  "report-id": "133949211637524954+zuplu.com",
  "policies": [
    {
      "policy": {
        "policy-type": "sts",
        "policy-string": [
          "version: STSv1",
          "mode: enforce",
          "mx: mx1.zuplu.com",
          "mx: mx2.zuplu.com",
          "mx: *.zuplu.com",
          "max_age: 2419200"
        ],
        "policy-domain": "zuplu.com"
      },
      "summary": {
        "total-successful-session-count": 2,
        "total-failure-session-count": 0
      }
    },
    {
      "policy": {
        "policy-type": "tlsa",
        "policy-string": [
          "[\"3 1 1 60103C0A1CC74338339FC3E5D789B2E7B8E70F6AE83AE9DF24B666D166304242\",\"3 1 1 B7C71FB050EB20AC1440D7229B6004B3C389FFFFD61554FCA18B8F1F3B6ABE43\"]"
        ],
        "policy-domain": "zuplu.com"
      },
      "summary": {
        "total-successful-session-count": 2,
        "total-failure-session-count": 0
      }
    }
  ]
}
```

However, Microsoft fails to adequately insert the `policy-string`, so they might not be the best guide. 😂

Although the RFC isn't really clear on this, I think the way we handle it now, i. e. `policy-domain` being the MX host is still the correct way, as the TLSA records are looked up at the MX host level and may differ between them...

@DragonWork good point to show some examples. Here's the (second) last report I got from @florianpiekert :
```json
{
  "organization-name": "sonne.floppy.org",
  "date-range": {
    "start-datetime": "2025-09-20T00:00:00Z",
    "end-datetime": "2025-09-20T23:59:59Z"
  },
  "contact-info": "smtp-tls-reporting@sonne.floppy.org",
  "policies": [
    {
      "summary": {
        "total-failure-session-count": 0,
        "total-successful-session-count": 1
      },
      "policy": {
        "policy-type": "no-policy-found"
      },
      "failure-details": []
    }
  ],
  "report-id": "2025-09-20T00:00:00Z_idx1_mpi-klsb.mpg.de"
}
```
As you can see, `policies[0].policy.policy-domain` is missing, which caused my [report parser](https://gitlab.mpi-klsb.mpg.de/pcernko/mail-reports) to fail. The latest report received from @florianpiekert now has `policy-type=tlsa` and `policy-domain` set. So maybe the `policy-domain` is only left out in the report if type is `no-policy-found`?

@errror 
> So maybe the `policy-domain` is only left out in the report if type is `no-policy-found`?

This seems to be the case. postfix needs to add the domain, @wietse-postfix 

According to the TLSRPT RFC, the policy domain is "The Policy Domain against which the MTA-STS or DANE policy is defined. "

The problem is that that DANE and STS define policy against different kinds of domain names:  

1. The  TLSA policy record  is against the MX hostname (_25.,_tcp.$hostname)  
2. The STS policy record is defined against the recipient domain.  

That would mean that 1) Microsoft incorrectly reports the recipient domain for policy-type tlsa, and that 2)  it makes no sense to talk about "the domain" against which a non-existent policy is defined.

@wietse-postfix 

> That would mean that 1) Microsoft incorrectly reports the recipient domain for policy-type tlsa,

I do agree on this. You could have multiple MX hosts with different TLSA records and TLS certificates, and joining them under the mail domain mixes them up losing informational reference.

> and that 2)  it makes no sense to talk about "the domain" against which a non-existent policy is defined.

~~On the report receiving side (for example, when collecting reports into a single mailbox that aggregates results for many customer domains), the operator still needs to know _which_ specific hostname or domain was queried for the policy in order to make sense of the failure.~~

I totally forgot that the TLSRPT contains the mail domain in the filename, subject and message body itself. Arguments defeated. 🤦🏻‍♂️

Some additional comments on what RFCs actually say:

> Your json is missing the key .policies[].policy.policy-domain . As far as I read https://datatracker.ietf.org/doc/html/rfc8460#section-4.4 , "policy-domain" must be included. 

That section defines the schema,  with 'policy-type", "policy-domain", and "policy-string" as not optional.  Some of these those fields can't be required when "policy-type" is  "no-policy-found".

As for the "policy-domain" value, the text in section 4.4 is consistent with
https://datatracker.ietf.org/doc/html/rfc8460#section-1.1 which is more explicit:

>   Policy Domain: The domain against which a TLSRPT, an MTA-STS, or a DANE policy is defined.  For TLSRPT and MTA-STS, this is typically the same as the envelope recipient domain [RFC5321], [...].  **For DANE, the Policy Domain is the "TLSA base domain" of the receiving SMTP server as described in Section 2.2.3 of RFC 7672**

 Microsoft people missed that when they report  policy-domain = recipient domain, when policy-type = STS.



> I totally forgot that the TLSRPT contains the mail domain the the filename and TLSRPT mail subject and message body itself. Arguments defeated. 🤦🏻‍♂️

But not in the json. :-(

@errror 
> > I totally forgot that the TLSRPT contains the mail domain the the filename and TLSRPT mail subject and message body itself. Arguments defeated. 🤦🏻‍♂️
> 
> But not in the json. :-(

Yes, unfortunately that’s a bad design by the RFC. I don’t think we can do anything at this point. The parsing program needs to be updated accordingly to accept the whole TLSRPT (not only the attachment) — at least the filename — to assign the correct target mail domain the report is aimed at.

Is someone willing to file an erratum for the TLSRPT RFC?

https://datatracker.ietf.org/doc/html/rfc8460#section-1.1 specifies different (TLS) policy domains for STS and TLSA.

In that light, what shall be the (TLS) policy-domain value be when the policy-type is no-policy-found? The TLSA policy domain, the STS policy domain, the TLSRPT policy domain, or something else? A TLSRPT report without policy domain seems not useful.


@wietse-postfix 

I’ve also noticed another (related) issue, in RFC 8461. Section 5.1 mandates that the report filename shall consist of the _policy-domain_. But in practice, filenames almost always contain the recipient domain instead (thanks to common sense). The recipient domain is defined earlier in the RFC, but it’s never explicitly referenced inside the TLSRPT JSON itself — meaning the filename is effectively the only place where it shows up.

The problem is that, according to the RFC as written, even the filename must carry the `policy-domain`. That's completely nonsense, as the JSON can contain multiple policies for a recipient domain, which in turn have their own `policy-domain`s (that can differ) in the `policies[]` array. So a parser cannot officially rely on it.

If someone were to implement this literally (instead of following the current de facto practice of using the recipient domain), it would break the whole purpose of TLSRPT for shared report mailboxes: you could never reliably know which recipient domain the report was aimed at, especially when the report contains DANE related information for multiple external MX smart hosts or customer domains with the same MX provider.

I submitted an errata:

https://www.rfc-editor.org/errata/eid8582

I can report the TLSRPT policy domain  when no TLSA or STS policy was found. That is  the domain that would be used for MX lookup and STS policy lookup (but not for TLSA lookup).  It is less useless than the present state, and does not address the problem with the TLSRPT json spec discussed in this thread.

Change log entry: When policies[\*].policy.policy-type is "no-policy-found", report the TLSRPT policy domain name as the policies[\*].policy.policy-domain value. This ignores that TLSA policies must be reported with different policy-domain values than STS policies.